@CHARSET "ISO-8859-1";
/* CSS Document */
body{
	margin:0px;
	background:#EEEEEE;
}
h1{
}
#extern{
	height:auto;
	width:80%;
	margin:auto;
}
#header{
	height:100px;
	width:100%;
	background: #FFFFFF;
	text-align:center;
}
#footer{
	height:50px;
	width:100%;
	background: #EEEEEE;
	text-align:center;
	padding:5px;
}
#mainContainer{

	width:100%;
	height:700px;
}
#menuBarre{
	text-align:right;
	padding-right:10px;
	float:right;
	background: #FFFFFF;
}
#searchBarre{
	float:left;
	padding-left:10px;
}
#barreNews{
	height:30px;
	background-color: #EEEEEE;
	padding:5px;
}
#menuContent{
	float:left;
	width:200px;
	border-right:#FFFFFF dotted 1px;
	height:700px;
	background: #FFFFFF;
}
#content{
	padding:5px;
	height:700px;
	background: #FFFFFF;
}
img{
	border:none;
	text-decoration:none;
}
a{
	color:maroon;
	text-decoration:none;
}
a:hover,  a:focus {
	color:red;
}
#film #head{
	background-color: silver;
}