<?xml version="1.0" encoding="ISO-8859-1" ?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>
	<bean id="daoProfessionnelHBM" class="dao.hibernate.DAOHibernateProfessionnel"/>
	
	<bean name="/connexion" class="struts.action.ActionConnexion">
		<property name="daoPro" ref="daoProfessionnelHBM"/>
	</bean>
		
</beans>