<?xml version="1.0" encoding="ISO-8859-1" ?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>
	<bean id="daoProfessionnelHBM" class="dao.hibernate.DAOHibernateProfessionnel"/>
	<bean id="daoFilmHBM" class="dao.hibernate.DAOHibernateFilm"/>
	
	<bean name="/connexion" class="struts.action.ActionConnexion">
		<property name="daoPro" ref="daoProfessionnelHBM"/>
	</bean>
	
	<bean name="/search" class="struts.action.ActionRecherche">
		<property name="daoFilm" ref="daoFilmHBM"/>
	</bean>
	
	<bean name="/deconnexion" class="struts.action.ActionDeconnexion">
	</bean>
	
	<bean name="/listeFilms" class="struts.action.ActionListeFilms">
		<property name="daoFilm" ref="daoFilmHBM"/>
	</bean>
	
	<bean name="/inscription" class="struts.action.ActionInscription">
		<property name="daoPro" ref="daoProfessionnelHBM"/>
	</bean>
	
	<bean name="/welcome" class="struts.action.ActionListeFilms">
		<property name="daoFilm" ref="daoFilmHBM"/>
	</bean>
</beans>