<?xml version="1.0" encoding="ISO-8859-1" ?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>
	<bean id="daoProfessionnelHBM" class="dao.hibernate.DAOHibernateProfessionnel"/>
	<bean id="daoFilmHBM" class="dao.hibernate.DAOHibernateFilm"/>
	<bean id="daoPersonneHBM" class="dao.hibernate.DAOHibernatePersonne"/>
	<bean id="daoActeurHBM" class="dao.hibernate.DAOHibernateRoleActeur"/>
	<bean id="daoProducteurHBM" class="dao.hibernate.DAOHibernateRoleProducteur"/>
	<bean id="daoRealisateurHBM" class="dao.hibernate.DAOHibernateRoleRealisateur"/>
	<bean id="daoServeurHBM" class="dao.hibernate.DAOHibernateServeur"/>
	<bean id="daoRecompenseHBM" class="dao.hibernate.DAOHibernateRecompense"/>
	<bean id="daoTypeRecompenseFilmHBM" class="dao.hibernate.DAOHibernateTypeRecompenseFilm"/>
	<bean id="daoTypeRecompensePersonneHBM" class="dao.hibernate.DAOHibernateTypeRecompensePersonne"/>
	<bean id="daoRecompenseFilmHBM" class="dao.hibernate.DAOHibernateRecompenseFilm"/>
	<bean id="daoRecompensePersonneHBM" class="dao.hibernate.DAOHibernateRecompensePersonne"/>
	
	
	<bean name="/connexion" class="struts.action.ActionConnexion">
		<property name="daoPro" ref="daoProfessionnelHBM"/>
	</bean>
	
	<bean name="/search" class="struts.action.ActionRecherche">
		<property name="daoFilm" ref="daoFilmHBM"/>
		<property name="daoPersonne" ref="daoPersonneHBM"/>
	</bean>
	
	<bean name="/deconnexion" class="struts.action.ActionDeconnexion">
	</bean>
	
	<bean name="/listeFilms" class="struts.action.ActionListeFilms">
		<property name="daoFilm" ref="daoFilmHBM"/>
	</bean>
	<bean name="/listePersonnes" class="struts.action.ActionListePersonnes">
		<property name="daoPersonne" ref="daoPersonneHBM"/>
	</bean>
	<bean name="/inscription" class="struts.action.ActionInscription">
		<property name="daoPro" ref="daoProfessionnelHBM"/>
	</bean>
	
	<bean name="/welcome" class="struts.action.ActionListeFilms">
		<property name="daoFilm" ref="daoFilmHBM"/>
	</bean>
	
	<bean name="/lienmodifierfilm" class="struts.action.ActionLienModificationFilm">
		<property name="daoFilm" ref="daoFilmHBM"/>
	</bean>
	<bean name="/lienmodifierpersonne" class="struts.action.ActionLienModificationPersonne">
		<property name="daoPersonne" ref="daoPersonneHBM"/>
	</bean>
	<bean name="/lienajoutcasting" class="struts.action.ActionLienAjoutCasting">
		<property name="daoFilm" ref="daoFilmHBM"/>
		<property name="daoPersonne" ref="daoPersonneHBM"/>
	</bean>
	<bean name="/modifierfilm" class="struts.action.ActionModificationFilm">
		<property name="daoFilm" ref="daoFilmHBM"/>
		<property name="daoServeur" ref="daoServeurHBM"/>
	</bean>
	<bean name="/modifierpersonne" class="struts.action.ActionModificationPersonne">
		<property name="daoPersonne" ref="daoPersonneHBM"/>
		<property name="daoServeur" ref="daoServeurHBM"/>
	</bean>
	<bean name="/ajoutfilm" class="struts.action.ActionAjoutFilm">
		<property name="daoFilm" ref="daoFilmHBM"/>
		<property name="daoServeur" ref="daoServeurHBM"/>
	</bean>
	<bean name="/ajoutpersonne" class="struts.action.ActionAjoutPersonne">
		<property name="daoPersonne" ref="daoPersonneHBM"/>
		<property name="daoServeur" ref="daoServeurHBM"/>
	</bean>
	<bean name="/apercufilm" class="struts.action.ActionApercuFilm">
		<property name="daoFilm" ref="daoFilmHBM"/>
	</bean>
	<bean name="/apercupersonne" class="struts.action.ActionApercuPersonne">
		<property name="daoPersonne" ref="daoPersonneHBM"/>
	</bean>
	<bean name="/ajoutcasting" class="struts.action.ActionAjoutCasting">
		<property name="daoFilm" ref="daoFilmHBM"/>
		<property name="daoPersonne" ref="daoPersonneHBM"/>
		<property name="daoActeur" ref="daoActeurHBM"/>
		<property name="daoProducteur" ref="daoProducteurHBM"/>
		<property name="daoRealisateur" ref="daoRealisateurHBM"/>
	</bean>
	<bean name="/ajoutrecompensefilm" class="struts.action.ActionAjoutRecompenseFilm">
		<property name="daoFilm" ref="daoFilmHBM"/>
		<property name="daoRecompense" ref="daoRecompenseHBM"/>
		<property name="daoTypeRecompense" ref="daoTypeRecompenseFilmHBM"/>
		<property name="daoRecompenseFilm" ref="daoRecompenseFilmHBM"/>
	</bean>
	<bean name="/lienajoutrecompensefilm" class="struts.action.ActionLienAjoutRecompenseFilm">
		<property name="daoFilm" ref="daoFilmHBM"/>
		<property name="daoRecompense" ref="daoRecompenseHBM"/>
		<property name="daoTypeRecompense" ref="daoTypeRecompenseFilmHBM"/>
	</bean>
	<bean name="/ajoutrecompensepersonne" class="struts.action.ActionAjoutRecompensePersonne">
		<property name="daoPersonne" ref="daoPersonneHBM"/>
		<property name="daoRecompense" ref="daoRecompenseHBM"/>
		<property name="daoTypeRecompense" ref="daoTypeRecompensePersonneHBM"/>
		<property name="daoRecompensePersonne" ref="daoRecompensePersonneHBM"/>
	</bean>
	<bean name="/lienajoutrecompensepersonne" class="struts.action.ActionLienAjoutRecompensePersonne">
		<property name="daoPersonne" ref="daoPersonneHBM"/>
		<property name="daoRecompense" ref="daoRecompenseHBM"/>
		<property name="daoTypeRecompense" ref="daoTypeRecompensePersonneHBM"/>
	</bean>
	<bean name="/espacepro" class="struts.action.ActionLienEspacePro">
		<property name="daoPro" ref="daoProfessionnelHBM"/>
	</bean>
	<bean name="/changerlangue" class="struts.action.ActionChangementLangue"/>

</beans>